.dashboard .before-dashboard {
  margin-bottom: 1.5rem;
  /* base(1.5) ≈ 1.5rem */

  &__banner {
    & h4 {
      margin: 0;
    }
  }

  &__instructions {
    list-style: decimal;
    margin-bottom: 0.5rem;
    /* base(0.5) ≈ 0.5rem */

    & li {
      width: 100%;
    }
  }

  & a:hover {
    opacity: 0.85;
  }
}